:root {
  --kirby-main-color-rgb: 241, 136, 158;
  --kirby-pies-color-rgb: 202, 22, 78;
  --kirby-mofletes-color-rgb: 234, 106, 118;
}

* {
  margin: 0;
}

body {
  height: 500px;
  width: 100%;
}

.kirby {
  /* Tamaño */
  height: 500px;
  width: 100%;
  box-sizing: border-box;

  /* Posición */
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 70px 140px 100px 30px;
  grid-template-columns: 100px 50px 100px 50px 100px 50px 100px;
  grid-template-areas:
    '. . . cabeza . . .'
    'b1 b1 b1 cabeza b2 b2 b2'
    '. p1 p1 cabeza p2 p2 .'
    '. p1 p1 . p2 p2 .';
}

.cabeza {
  /* Tamaño */
  height: 300px;
  width: 300px;

  /* Fondo */
  background-color: rgb(var(--kirby-main-color-rgb));

  /* Borde */
  border-radius: 50%;
  border: 5px solid black;

  /* Posición */
  grid-area: cabeza;

  display: grid;
  justify-items: center;
  grid-template-columns: 80px 25px 25px 40px 25px 25px 80px;
  grid-template-rows: 50px 100px 25px 75px 50px;
  grid-template-areas: '. . . . . . .' '. o1 o1 . o2 o2 .' 'm1 m1 . . . m2 m2' '. . . boca . . .' ' . . . . . . .';
}

.ojos {
  /* Tamaño */
  height: 100px;
  width: 50px;
  box-sizing: border-box;

  /* Fondo */
  background-image: linear-gradient(
    rgba(0, 0, 0),
    20%,
    rgb(24, 95, 117),
    rgb(93, 199, 169)
  );

  /* Borde y sombra */
  border-radius: 50%;
  border: 3px solid;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.4) inset;

  /* Posición */
  position: relative;

  &::before {
    /* Tamaño */
    height: 60px;
    width: 40px;

    /* Fondo */
    background-color: black;

    /* Borde y sombra */
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0);

    /* Posición */
    position: absolute;
    content: '';
    box-sizing: border-box;
    left: 2px;
  }

  &::after {
    /* Tamaño */
    height: 40px;
    width: 30px;

    /* Fondo */
    background-color: rgba(255, 255, 255);

    /* Borde y sombra */
    border-radius: 50%;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.4) inset;

    /* Posición */
    position: absolute;
    content: '';
    box-sizing: border-box;
    left: 7px;
    top: 2px;
  }
}

#o1 {
  grid-area: o1;
}

#o2 {
  grid-area: o2;
}

.mofletes {
  /* Tamaño */
  width: 70px;
  height: 35px;

  /* Fondo */
  background-color: rgb(var(--kirby-mofletes-color-rgb), 0.8);

  /* Borde */
  border-radius: 50%;
}

#m1 {
  grid-area: m1;
  transform: rotate(15deg);
}

#m2 {
  grid-area: m2;
  transform: rotate(-15deg);
}

.boca {
  /* Tamaño */
  height: 60px;
  width: 50px;

  /* Fondo */
  background-color: rgb(0, 0, 0, 0.5);

  /* Borde */
  border-radius: 5px 5px 25px 25px;
  border: 3px solid;

  /* Posición */
  grid-area: boca;
  position: relative;
  box-sizing: border-box;

  &::before {
    /* Tamaño */
    height: 34px;
    width: 45px;
    box-sizing: border-box;

    /* Fondo */
    background-color: rgb(var(--kirby-mofletes-color-rgb));

    /* Borde */
    border-radius: 50%;
    border: 3px solid;

    /* posición */
    position: absolute;
    content: '';
    bottom: -2px;
  }
}

.brazos {
  /* Tmaño */
  height: 150px;
  width: 90px;
  border-radius: 50%;
  border: 5px solid black;

  /* Fondo */
  background-color: rgb(var(--kirby-main-color-rgb));

  /* Posición */
  z-index: -1;
  transform: rotate(-50deg);
}

#b1 {
  grid-area: b1;
}

#b2 {
  grid-area: b2;
}

.pies {
  /* Tamaño */
  height: 95px;
  width: 150px;
  border-radius: 50%;
  border: 5px solid black;

  /* Fondo */
  background-color: rgb(var(--kirby-pies-color-rgb));

  /* Posición */
  box-sizing: border-box;
  z-index: -1;
  position: relative;
}

#p1 {
  grid-area: p1;
  position: relative;

  &::before {
    /* Tamaño */
    height: 40px;
    width: 30px;

    /* Fondo */
    background-color: rgb(251, 99, 111);

    /* Borde */
    border-radius: 50%;

    /* Posición */
    position: absolute;
    content: '';
    top: 30px;
    left: 10px;
    transform: rotate(-40deg);
  }
}

#p2 {
  grid-area: p2;

  &::before {
    /* Tamaño */
    height: 40px;
    width: 30px;

    /* Fondo y borde */
    background-color: rgb(251, 99, 111);
    border-radius: 50%;

    /* Posición */
    position: absolute;
    content: '';
    top: 30px;
    right: 10px;
    transform: rotate(40deg);
  }
}
